test_prog
*simv 
*simv.daidir
csrc
vcs.key
program.out
*.key
vis_simv vis_simv.daidir
dve*
inter.vpd 
DVEfiles
syn_simv
syn_simv.daidir 
syn_program.out 
sim_program.out
synsimv
synsimv.daidir
csrc
vcdplus.vpd
vcs.key
synprog.out
pipeline.out
writeback.out 
vc_hdrs.h
*.elf
*.dump
*.mem
debug_bin
simv.vdb
cm.log
synth/*.vg
synth/*.rep 
synth/*.ddc 
synth/*.chk 
synth/*.log 
synth/*.syn
synth/*.out 
command.log 
synth/*.db
synth/*.svf
synth/*.mr 
synth/*.pvl
syn_simv.vdb
output/*
testout.txt
CPI_result.txt
.DS_Store